In [1]:
import sys
#sys.path.insert(0,'../scripts')
import warnings
warnings.filterwarnings('ignore')

In [2]:
# library imports
import pandas as pd
import numpy as np

In [3]:
# import data
df = pd.read_csv('layoffs.csv')

In [4]:
# local modules imports
from data_info import DataInfo
explore = DataInfo(df)

In [5]:
df.head()

,company,location,industry,total_laid_off,percentage_laid_off,date,stage,country,funds_raised
0,Lyst,London,Retail,50.0,0.25,2022-11-29,Unknown,United Kingdom,144.0
1,Bitfront,SF Bay Area,Crypto,NaN,1.00,2022-11-29,Unknown,United States,NaN
2,Lazerpay,Lagos,Crypto,NaN,NaN,2022-11-29,Unknown,Nigeria,NaN
3,MessageBird,Amsterdam,Other,NaN,0.31,2022-11-29,Series C,Netherlands,1100.0
4,Plerk,Guadalajara,Finance,NaN,0.40,2022-11-29,NaN,Mexico,NaN

In [6]:
df['industry'].unique()

array(['Retail', 'Crypto', 'Other', 'Finance', 'Consumer', 'Recruiting',
       'Education', 'Real Estate', 'Media', 'Transportation', 'Food',
       'Healthcare', 'Sales', 'Infrastructure', 'Marketing', 'Product',
       'Data', 'Security', 'Fitness', 'Support', nan, 'Logistics', 'HR',
       'Aerospace', 'Travel', 'Legal', 'Construction', 'Energy'],
      dtype=object)

In [6]:
# size of data
explore.get_size()

(1695, 9)

In [7]:
explore.get_column_names()

Columns in the data are:

['company',
 'location',
 'industry',
 'total_laid_off',
 'percentage_laid_off',
 'date',
 'stage',
 'country',
 'funds_raised']

In [8]:
explore. get_info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1695 entries, 0 to 1694
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   company              1695 non-null   object
 1   location             1695 non-null   object
 2   industry             1692 non-null   object
 3   total_laid_off       1197 non-null   float64
 4   percentage_laid_off  1136 non-null   float64
 5   date                 1695 non-null   object
 6   stage                1690 non-null   object
 7   country              1695 non-null   object
 8   funds_raised         1573 non-null   float64
dtypes: float64(3), object(6)
memory usage: 119.3+ KB

In [9]:
explore.get_description()

Descriptive statistics:

       total_laid_off  percentage_laid_off   funds_raised
count     1197.000000          1136.000000    1573.000000
mean       197.218881             0.278105     878.539921
std        572.919551             0.268558    6454.541133
min          3.000000             0.000000       0.000000
25%         31.000000             0.100000      44.000000
50%         70.000000             0.195000     132.000000
75%        150.000000             0.330000     380.000000
max      11000.000000             1.000000  121900.000000

In [10]:
explore.get_total_missing_values()

The number of missing value(s): 1187

In [11]:
explore.get_missing_columns()

Columns having missing value(s): Index(['industry', 'total_laid_off', 'percentage_laid_off', 'stage',
       'funds_raised'],
      dtype='object')

In [12]:
explore.get_percentage_missing_columns()

                     Missing Count  %Missing
ColumnName
company                          0       0.0
location                         0       0.0
industry                         3       0.0
total_laid_off                 498      29.0
percentage_laid_off            559      33.0
date                             0       0.0
stage                            5       0.0
country                          0       0.0
funds_raised                   122       7.0

In [13]:
explore.get_duplicates()

,company,location,industry,total_laid_off,percentage_laid_off,date,stage,country,funds_raised
840,Cazoo,London,Transportation,750.0,0.15,2022-06-07,IPO,United Kingdom,2000.0

In [16]:
df.drop_duplicates(inplace=True)

In [17]:
df.shape

(1694, 9)

In [18]:
#df = df.drop(['funds_raised','percentage_laid_off', 'stage'], axis=1)
df.total_laid_off = df.total_laid_off.fillna(1) # lets assume there must be atleast 1 reported layoff in any company in this dataset
df.industry = df.industry.fillna('Unknown')
df.total_laid_off = df.total_laid_off.astype(int) # layoffs should be whole numbers not floats

In [19]:
# convert Date column
df['date']= pd.to_datetime(df['date'])

In [20]:
# confirm Date datatype
df.date.dtypes

dtype('<M8[ns]')

In [21]:
# extract Month feature from Date
df['month'] = df.date.dt.month

In [22]:
# extract Year feature from Date
df['year'] = df.date.dt.year

In [23]:
df.head()

,company,location,industry,total_laid_off,percentage_laid_off,date,stage,country,funds_raised,month,year
0,Lyst,London,Retail,50,0.25,2022-11-29,Unknown,United Kingdom,144.0,11,2022
1,Bitfront,SF Bay Area,Crypto,1,1.0,2022-11-29,Unknown,United States,NaN,11,2022
2,Lazerpay,Lagos,Crypto,1,NaN,2022-11-29,Unknown,Nigeria,NaN,11,2022
3,MessageBird,Amsterdam,Other,1,0.31,2022-11-29,Series C,Netherlands,1100.0,11,2022
4,Plerk,Guadalajara,Finance,1,0.4,2022-11-29,NaN,Mexico,NaN,11,2022

In [24]:
explore.get_percentage_missing_columns()

                     Missing Count  %Missing
ColumnName
company                          0       0.0
location                         0       0.0
industry                         3       0.0
total_laid_off                 498      29.0
percentage_laid_off            559      33.0
date                             0       0.0
stage                            5       0.0
country                          0       0.0
funds_raised                   122       7.0

In [25]:
df.isna().sum()

company                  0
location                 0
industry                 0
total_laid_off           0
percentage_laid_off    559
date                     0
stage                    5
country                  0
funds_raised           122
month                    0
year                     0
dtype: int64

In [26]:
#save new df
df.to_excel('layoffs2.xls', index=False)